body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  background-color: var(--contentBackground);
}

form {
  background-color: var(--contentBackground);
  padding : 20px;
  border-radius: 25px;
}


.btnSubmit {
  background-color: var(--orange);
  color: #ffffff;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 25px;
}

.btnSubmit:hover {
  background-color: var(--hoverSubmit);
}

.btnDelete {
  background-color: var(--ash);
  color: #FFFFFF;
  
  width: 100px;
  height: 30px;
  border-radius: 25px;
}

.btnDelete:hover {
  background-color: var(--hoverDelete);
}

.dataTables_paginate .paginate_button.active a {
  background-color: var(--orange);
  border: none;
  color: #ffffff;
  
}

.dataTables_paginate .paginate_button a {
  color: var(--orange);
  
  
}

table.dataTable tbody tr:hover {
  background-color: var(--contentHover);
}

.alerts .swal2-confirm {
 background-color: var(--orange) !important; /* set the background color to green */
  color: white; /* set the text color to white */
}
.alerts .swal2-confirm:hover {
  background-color: var(--hoverSubmit) !important; /* set the hover color to a darker shade of green */
}
.alerts .swal2-cancel {
  background-color: var(--ash) !important; /* set the background color to green */
   color: white; /* set the text color to white */
 }
.alerts .swal2-cancel:hover {
  background-color: var(--hoverDelete) !important; /* set the hover color to a darker shade of green */
}

:root {
  --orange: #CC3333;
  --grey: #eeeeee;
  --ash:#424242;
  --hoverSubmit: #EF5350;
  --hoverDelete:#000000;
  --contentBackground: #ffffff;
  --contentHover:#FAFAFA;
  --background:#EEEEEE ;
}
