body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  background-color: #ffffff;
}

form {
  background-color: #ffffff;
  padding : 20px;
  border-radius: 25px;
}


.btnSubmit {
  background-color: var(--orange);
  color: #ffffff;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 25px;
}

.btnSubmit:hover {
  background-color: var(--hover);
}

.btnDelete {
  background-color: #424242;
  color: #FFFFFF;
  
  width: 100px;
  height: 30px;
  border-radius: 25px;
}

.btnDelete:hover {
  background-color: #000000;
}

.dataTables_paginate .paginate_button.active a {
  background-color: var(--orange);
  border: none;
  
}

table.dataTable tbody tr:hover {
  background-color: #FAFAFA;
}

:root {
  --orange: #ff5252;
  --grey: #eeeeee;
  --hover: #ff1744;
}
