body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  background-color: var(--contentBackground);
}

form {
  background-color: var(--contentBackground);
  padding: 20px;
  border-radius: 25px;
}

input {
  border-radius: 20px !important;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
 select{
  display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 20px !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    appearance: none;
}
 

.btnSubmit {
  background-color: var(--orange);
  color: #ffffff;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 25px;
  font-weight: bold;
}

.btnSubmit:hover {
  background-color: var(--hoverSubmit);
}

.btnDelete {
  background-color: var(--ash);
  color: #ffffff;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 25px;
  font-weight: bold;
}

.btnDelete:hover {
  background-color: var(--hoverDelete);
}

.btnConfirm{
  border-radius: 25px;
  background-color: var(--orange);
  color: #ffffff;
  border: none;
  font-weight: bold;
}

.btnConfirm:hover{
  background-color: var(--hoverSubmit);
}

.btnCancel{
  border-radius: 25px;
  background-color: var(--ash);
  color: #ffffff;
  border: none;
  font-weight: bold;
}
.btnCancel:hover{
  background-color: var(--hoverDelete);
}

.dataTables_paginate .paginate_button.active a {
  background-color: var(--orange);
  border: none;
  color: #ffffff;
}

.dataTables_paginate .paginate_button a {
  color: var(--orange);
}

table.dataTable tbody tr:hover {
  background-color: var(--contentHover);
}

table {
  font-size: 18px;
}


.alerts .swal2-confirm {
  background-color: var(
    --orange
  ) !important; /* set the background color to green */
  color: white; /* set the text color to white */
}
.alerts .swal2-confirm:hover {
  background-color: var(
    --hoverSubmit
  ) !important; /* set the hover color to a darker shade of green */
}
.alerts .swal2-cancel {
  background-color: var(
    --ash
  ) !important; /* set the background color to green */
  color: white; /* set the text color to white */
}
.alerts .swal2-cancel:hover {
  background-color: var(
    --hoverDelete
  ) !important; /* set the hover color to a darker shade of green */
}

:root {
  --orange: #cc3333;
  --grey: #eeeeee;
  --ash: #424242;
  --hoverSubmit: #ef5350;
  --hoverDelete: #000000;
  --contentBackground: #ffffff;
  --contentHover: #fafafa;
  --background: #eeeeee;
}

.showWarningBox {
  display: block;
  background-color: #fce4ec;
  border: 3px solid #ff0000;
  font-weight: bold;
  text-align: center;
}

.showSuccessBox {
  display: block;
  background-color: #e0f2f1;
  border: 3px solid #00bfa5;
  font-weight: bold;
  text-align: center;
}

.btnSubmit-disabled {
  background-color: var(--grey);
  color: #000000;
  border: 1px dashed black;
  width: 100px;
  height: 30px;
  border-radius: 25px;
}

.dt-export {
  background-color: #757575;
  color: white;
  opacity: 1;
  border-radius: 25px;
  margin-top: 5px;
  /* Add any other styles here */

}

.dt-export:hover {
  
  color: var(--orange);
}
.dropdown-item.active {
  background: #cc3333 !important;
}
.userdiv{
  position: absolute;
  top: 5px;
  right: 60px;
  
  
}

.btnLogin{
  position: absolute;
  top: 5px;
  right: 60px;
  background-color: var(--ash);
  color: #ffffff;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 25px;
}

.formbox{
  width: 90%;
  max-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #ffffff;
  padding: 50px 60px 70px;
  text-align: center;
  border-radius: 25px;
}
.formbox1{
  width: 1000px;
  
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #ffffff;
  padding: 50px 60px 70px;
  text-align:left;
  border-radius: 25px;
}

.btn11{
  background-color: var(--orange);
  color: #ffffff;
  border: none;
  width: 250px;
  height: 50px;
  border-radius: 25px;
}

.btnupdate{
  background-color: var(--orange);
  position: absolute;
  top: 85%;
  left: 18%;
  color: #ffffff;
  border: none;
  width: 250px;
  height: 50px;
  border-radius: 25px;
}
