.btnAttendance{
    background-color: var(--orange);
    position: absolute;
    top: 85%;
    left: 35%;
    color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: bold;
    width: 250px;
    height: 50px;
    border-radius: 25px;
  }