.report{
    background-color: white;
    /*width: 210mm;
    height: 297mm;
    */
    margin: 0 auto;
    box-sizing: border-box;
}

.reportHeader{
    display: flex;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    justify-content: space-between;
}

.reportLogo img{
    height: auto;
    width:200px;
}


  

.reporthr hr{
 border: 5px solid var(--orange);
 opacity: 1;
}

.reportHeading h2{
    text-align: center;
}

.reportBody {
    padding: 40px;
}

.info{
    margin: 0;
    font-size: 12px;
}